apiVersion: v1
kind: Service
metadata:
  name: hello-world-service
  namespace: hello-world
spec:
  selector:
    app: hello-world
  ports:
    - protocol: TCP
      port: 8899
      targetPort: 8899
      nodePort: 30080  # Fixed port (30000-32767)
  type: NodePort